.card-img-top {
    height: 300px;
    width: auto;
  
}

.card-header {
    width: 100%;
    text-align: center;
}

@media(min-width: 767px) {
    .card {
        max-width: 300px;
    }

    .card-img-top {
        height: 300px;
      
    }
}