.foodcard-image {
    height: 300px;
    width: auto;
  
}

.card-header {
    width: 100%;
    text-align: center;
}

@media(min-width: 767px) {
    .foodcard {
        max-width: 300px;
    }

    .foodcard-image {
        height: 300px;
      
    }
}