.section-title {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}

.article-card-small {
    margin-bottom: 20px;
}

.guide-card {
    height: 300px;
    border: 0px;
}

.blue {
    background-color: #a7dcfa;
}

.purple {
    background-color: #b8c5f6;
}

.yellow {
    background-color: #ffebc3;
}

