.hero {
    background-image: url("https://res.cloudinary.com/dhkmle6ei/image/upload/v1615006626/Blue_Grotto_Pets_and_Animals_Business_Advertising_Website_mf45gs.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: 50%;
    min-height: 75vh;
}